<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
<h1>Login to your account</h1>

<!-- Formularz logowania -->
<form action="/loginjwt" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required><br><br>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required><br><br>

  <button type="submit">Login</button>
</form>

<!-- Wyświetlanie błędu logowania -->
<div>
  <p style="color: red;" th:text="${error}"></p>
</div>

<!-- Wyświetlanie tokenu JWT po udanym logowaniu -->
<div>
  <h2>JWT Token:</h2>
  <p th:text="${token}"></p>
</div>

</body>
</html>
